
// FONT
$sans: "Verela Round", sans-serif;

// COLORS
$black: #000;
$white: #fff;
$darkgreen: #087D16;
$lightgreen :#94E996;
$purple: #C2A5ED;
$darkgrey: #525753;
$lightgrey: #C0C2C0;



html {


	body {
		top: 0px;
		left: 0px;
		background: $white;
		font-family: $sans;
		color: $black;

	}

	div {

		border:none;
		width: 100%;
		height: 20%;
		padding-left: 10px;
		margin-left: -10px;
		padding-right: 10px;
		margin-right: -10px;
		padding-bottom: 10px;
		margin-bottom: -10px;
		

		&#title {
			background-color: $lightgrey;
		}

		&#location {
			background-color: $lightgreen;
		}

		&#time {
			background-color: $darkgreen;
		}

		&#options {
			background-color: $darkgrey;
		}

		&#pay {
			background-color: $purple;
		}

	}
}